/* CSS Document */

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Honk&family=VT323&display=swap");

@font-face {
    font-family: "Stylish";
    src: url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
    font-style: normal;
}

/* EVERYTHING */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Stylish", serif;
}

button:not(:disabled),
summary,
a {
    cursor: pointer;
}

/* CUSTOM PROPERTIES */
:root {
    /* color */
    --color-black: #111;
    --color-white: #eee;

    --color-background: #252929;

    --light-ten: #f0e1dc;
    --ten: #d9c0b9;
    --magenta: #926f89;
    --blue: #5670a3;
    --dark-blue: #181d45;

    --tra-light-ten: #f0e1dc8a;
    --tra-ten: #d9c0b97a;
    --tra-magenta: rgba(146, 111, 137, 0.571) 6f89;
    --tra-blue: #5670a390;
    --tra-dark-blue: #181d45f3;
    --tra-purple: #572c4ff8;

    --gradient-lig-ten: linear-gradient(135deg, #f0e1dc) 0%, #d9c0b9 100%;
    --gradient-ten-mag: linear-gradient(135deg, #d9c0b9) 0%, #926f89 100%;
    --gradient-mag-blu: linear-gradient(135deg, #926f89) 0%, #5670a3 100%;
    --gradient-blu-dar: linear-gradient(135deg, #5670a3) 0%, #181d45 100%;
    --gradient-mag-dar: linear-gradient(135deg, #926f89) 20%, #181d45 100%;
}

/* MEDIA */

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* color */
        --color-black: #111;
        --color-white: #eee;

        --color-background: #252929;

        --light-ten: #f0e1dc;
        --ten: #d9c0b9;
        --magenta: #926f89;
        --blue: #5670a3;
        --dark-blue: #181d45;
        --purple: #572c4f;

        --gradient-lig-ten: linear-gradient(180deg, rgb(41, 49, 108, 1) 0%, rgba(87, 44, 79, 1) 100%);
        --gradient-ten-mag: linear-gradient(180deg, rgba(87, 44, 79, 1) 0%, rgba(86, 112, 163, 1) 100%);
        --gradient-mag-blu: linear-gradient(180deg, rgba(86, 112, 163, 1) 0%, rgba(217, 192, 185, 1) 100%);
        --gradient-blu-dar: linear-gradient(180deg, rgba(217, 192, 185, 1) 0%, rgba(240, 225, 220, 1) 100%);
        --gradient-mag-dar: linear-gradient(180deg, rgba(240, 225, 220, 1) 0%, rgba(223, 141, 158, 1) 100%);
    }
}

/* no animation in reduced mode */
@media (prefers-reduced-motion: reduce) {
    body {
        animation: none;
    }
}

/* BACKGROUND COLOR */
main > section:nth-of-type(1) {
    background: var(--gradient-lig-ten);
}

main > section:nth-of-type(2) {
    background: var(--gradient-ten-mag);
}

main > section:nth-of-type(3) {
    background: var(--gradient-mag-blu);
}

main > section:nth-of-type(4) {
    background: var(--gradient-blu-dar);
}

main > section:nth-of-type(5) {
    background: var(--gradient-mag-dar);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(139, 0, 35, 0.4);
    backdrop-filter: blur(1em);
    position: fixed;
    top: 0;
    width: 100%;
    height: 5em;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: var(--light-ten);
}

/* LOGO */
#logo {
    width: 45px;
    height: 45px;

    margin: 1em;
}

/* main */
/* each section takes up the whole page  */
main {
    /* size */
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    flex-direction: column;
}

.onepage {
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;

    /* color */
    color: var(--color-text);

    /* sizes */
    width: 100vw;
    height: 100vh;
    font-size: 2vmin;

    /* text */
    font-family: eenfont, sans-serif;
}

h1 {
    font-size: 4em;
    text-align: center;
}

h2 {
    font-size: 3em;
    text-align: center;
}

h3 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 2em;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
}

/* SKILLS */

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skills li {
    width: 10em;
    height: 10em;
    background-color: var(--green);

    border-radius: 10px;
}

.skills img {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}

@media (min-width: 1em) {
    /* HEADER */
    header {
        padding: 0 2em;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: fixed;
        top: 0;
        z-index: 1;
    }

    /* Resource: https://codepen.io/shooft/pen/MWZYoqa */
    header a {
        padding: 0.5em 0;
    }

    header button {
        padding: 0.5em;

        background-color: transparent;
        border: none;
        border-radius: 0.5em;
    }

    header button img {
        height: 1.5em;
    }

    nav button {
        justify-self: end;
    }

    nav {
        padding: 2em;
        height: 25em;

        display: grid;
        align-content: start;
        gap: 1em;
        background-color: var(--tra-dark-blue);

        /* menu slide */
        position: fixed;
        left: 60vw;
        right: 0;
        top: 0;
        bottom: 50%;

        z-index: 10;

        transform: translateX(100%);
        transition: transform 1s;
        backdrop-filter: invert(100%);
    }

    nav.showMenu {
        transform: translateX(0);
        height: 25em;
        backdrop-filter: invert(100%);
        background-color: var(--tra-purple);
        box-shadow: -5px 5px 46px 0px rgba(168, 147, 217, 0.75);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav a {
        display: flex;
        align-items: center;

        border-bottom: solid 1px var(--dark-blue);
    }

    nav a:hover {
        font-weight: bold;
    }

    /* in small screen there is no names under the skills */
    .skills li p {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
        height: 1px;
    }
}

@media (min-width: 38em) {
    .skills li {
        max-width: 7em;
        max-height: 7em;
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: plum;
    }
}
